<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
  <title>Pocket Power</title>
</head>
<body>
  <header>
      <h1>Pocket Power</h1>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/Merchants">Merchants</a></li>
        <li><a href="/Transactions">Transactions</a></li>
        <li><a href="/Tags">Tags</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}

    {% endblock %}
  </main>
    <footer>
        <p>Power Pocket spending tracker by Craig Smith</p>
    </footer>
  </body>
</html>